body{
   background-image: url(img/002.jpg);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
  text-align: center;
    color: bisque; 

}
    p{
 text-align: center;
 color: cornsilk;
font-size: medium;
    }
